<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="com.differencer.pi.editors.ServerEditor"
            default="true"
            extensions="pi"
            filenames="*.pi"
            id="com.differencer.pi.serverdescriptioneditor"
            name="%editor.name">
         <contentTypeBinding
               contentTypeId="com.differencer.pi.server.description">
         </contentTypeBinding>
      </editor>
   </extension>
   <extension
         point="org.eclipse.core.contenttype.contentTypes">
      <content-type
            base-type="org.eclipse.core.runtime.xml"
            file-extensions="pi"
            id="com.differencer.pi.server.description"
            name="%content-type.name.0"
            priority="normal">
      </content-type>
      <content-type
            base-type="org.eclipse.core.runtime.xml"
            file-extensions="piconf"
            id="com.differencer.pi.server.configuration"
            name="%content-type.name"
            priority="normal">
      </content-type>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="com.differencer.pi.preferences.PreferencePage"
            id="com.differencer.pi.preferences.PreferencePage"
            name="%page.name">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="com.differencer.pi.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            description="%actionSet.description"
            id="com.differencer.pi.actionSet"
            label="%actionSet.label"
            visible="true">
         <menu
               id="com.differencer.pi.menu"
               label="%menu.label">
            <separator
                  name="differencerGroup">
            </separator>
         </menu>
         <action
               class="com.differencer.pi.actions.ClearDatabaseAction"
               id="com.internals.pi.actions.ClearDatabaseAction"
               label="%action.label"
               menubarPath="com.differencer.pi.menu/dfferencerGroup"
               toolbarPath="differncerGroup">
         </action>
      </actionSet>
   </extension>
   <extension
         point="org.eclipse.compare.contentMergeViewers">
      <viewer
            class="com.differencer.pi.viewers.ConfigurationMergeViewerCreator"
            extensions="pi,piconf"
            id="com.differencer.pi.diffs.MergeViewerCreator"
            label="%viewer.label">
      </viewer>
      <contentTypeBinding
            contentMergeViewerId="com.differencer.pi.diffs.MergeViewerCreator"
            contentTypeId="com.differencer.pi.server.description">
      </contentTypeBinding>
      <contentTypeBinding
            contentMergeViewerId="com.differencer.pi.diffs.MergeViewerCreator"
            contentTypeId="com.differencer.pi.server.configuration">
      </contentTypeBinding>
   </extension>
   <extension
         point="org.eclipse.compare.structureCreators">
      <structureCreator
            class="com.differencer.pi.viewers.ConfigurationStructureCreator"
            extensions="pi"
            id="com.differencer.pi.diffs.StructureCreator">
      </structureCreator>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="false"
            id="com.differencer.pi.getconfiguration"
            nameFilter="*.pi"
            objectClass="org.eclipse.core.resources.IFile">
         <action
               class="com.differencer.pi.actions.ConfigurationCollectAction"
               id="com.differencer.pi.actions.getconfiguration"
               label="%action.label.0"
               tooltip="%action.tooltip">
         </action>
      </objectContribution>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="com.differencer.pi"
            name="%category.name">
      </category>
      <wizard
            category="com.internals.pi"
            class="com.differencer.pi.wizards.ServerDescriptionNewWizard"
            icon="icons/sample.gif"
            id="com.differencer.pi.wizards.ServerDescriptionNewWizard"
            name="%wizard.name">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.compare.structureMergeViewers">
      <viewer
            class="com.differencer.pi.viewers.ConfigurationStructureMergeViewerCreator"
            extensions="pi"
            id="com.differencer.pi.diffs.StructureMergeViewerCreator"
            label="%viewer.label.0">
      </viewer>
      <contentTypeBinding
            contentTypeId="com.differencer.pi.server.description"
            structureMergeViewerId="com.differencer.pi.diffs.StructureMergeViewerCreator">
      </contentTypeBinding>
      <contentTypeBinding
            contentTypeId="com.differencer.pi.server.configuration"
            structureMergeViewerId="com.differencer.pi.diffs.StructureMergeViewerCreator">
      </contentTypeBinding>
   </extension>
   <extension
         point="org.eclipse.ui.exportWizards">
      <category
            id="com.differencer.pi.export.category"
            name="%category.name.0">
      </category>
      <wizard
            category="com.differencer.pi.export.category"
            class="com.differencer.pi.wizards.ExportConfigurationWizard"
            id="com.differencer.pi.wizards.ExportConfigurationWizard"
            name="%wizard.name.0">
      </wizard>
      <wizard
            category="com.differencer.pi.export.category"
            class="com.differencer.pi.wizards.ExportPayloadWizard"
            id="com.differencer.pi.wizards.ExportPayloadWizard"
            name="%wizard.name.1">
      </wizard>
   </extension>

</plugin>
